<!doctype html>
<html>
<head>
	<title>US Political Groups Interaction on Twitter</title>
	
	<meta name="viewport" content="width=device-width user-scalable=no" />
	<style>
		iframe 
		{
			overflow: hide;
		}
		body
		{
			font-family: sans-serif;
		}
	</style>
</head>
<body>
	<h1>US Political Groups Interaction on Twitter</h1>
	<div>
		<h2>Retweets during the year 2012</h1>
		<iframe src="{{ url_for('graph', dataset='wholeyear') }}" scrolling="no" frameborder="0" width="{{ width+250 }}" height="{{ height+200 }}"></iframe>
	</div>
	
	<div>
		<h2>Retweets regarding Benghazi attack on 9/11/2012</h1>
		<iframe src="{{ url_for('graph', dataset='benghazi') }}" scrolling="no" frameborder="0" width="{{ width+250 }}" height="{{ height+200 }}"></iframe>
	</div>
	
	<div>
		<h2>Retweets regarding Romney's "47 percent" comment on 9/17/2012</h1>
		<iframe src="{{ url_for('graph', dataset='47percent') }}" scrolling="no" frameborder="0" width="{{ width+250 }}" height="{{ height+200 }}"></iframe>
	</div>
</body>
</html>